body {
	font-family: "Avenir Next";
}

h1, h2 {
	font-weight: 200;
}

h2 {
	background: black;
	color: white;
	margin: 0;
	padding: 5px 10px;
}

.master {
	margin-right: 24px;
	float: left;
}

.detail {
	float: left;
	img {
		width: 600px;
	}
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
  &.example-enter-active {
    opacity: 1;
  }
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
  &.example-leave-active {
    opacity: 0.01;
  }
}
